* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.exercicio-01,
.exercicio-02 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label-vogais {
  font-size: 2rem;
  font-weight: bold;
}

.input-vogais {
  width: 400px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.input-vogais:focus {
  border: 3px solid lightblue;
}

.display {
  width: 400px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#idInput {
  width: 450px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.btns-exec02 {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 0.8rem;
  margin: 10px;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.wrap-btns {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btns-exec02:hover {
  background: linear-gradient(#9198e5, #efd7d7);
  color: #fff;
  border: none;
}

.caixa-exibicao {
  width: 450px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  color: #000;
}

.msg-deletado {
  width: 450px;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}
